*{
    padding: 0px;
    margin: 0px;
    
}
/*a{
  font-size: 40px;
  color: rgb(0, 255, 217);
}*/

/*p{
    background-color: blue;
    margin: 30px;
    padding:10px ;
    font-weight: bold;
}*/

form{
  background-color: blueviolet;
  width: 10%;
  padding: 10px;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    color: white;
    padding: 20px;
    background-color:black;
    border-radius: 15px 15px 0px 0 px;
    align-items: center;
    font-size: 18px;
}
#submitRequest{
    padding: 5px 15px;
    border-radius:5px ;
    border: white 2pc;
    background-color: black;
    color: white;
    font-size: 18px;
}
.signin{
   padding: 5px 15px; 
   background-color: rgb(68, 79, 197);
   border-radius: 5px;
   font-size: 15px;
   color: white;
   border: solid 2px  rgba(50, 69, 238 );
   margin: left 15px;
}
.homebg{
    height: 50vh;
    background-color: rgb(146, 146, 232);
    display: flex;
    justify-content: center;
    align-items: center;
}
#hometext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}
#hometext > input{
    padding: 9px 10px;
    margin-top: 20px;
    border-radius: 3px;
    border: none;
    width: 15vw
    
}
.cards{
    display: flex;
    justify-content: space-around;
    gap: 50px;
    width: 1000px;
    flex-wrap:wrap;
}

.card{
    display: flex;
    align-items: flex-start;
    /*background-color:red ;*/
    gap: 20px;
    padding: 30px;
    width: 350px;
}
.text area{
    display:flex;
    flex-direction: column;
    gap: 15px;
}